* {
    margin: O;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1,6; 
    height: 100vh;
    background-image: url("media/wavey-fingerprint.svg");
    position: relative;
}

header {
    background-color: gray;
    color: black;
    padding: 3rem;
    background-image: url("media/papillon.svg");
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    font-family:'Edu AU VIC WA NT Guides' ;
    font-size: 3rem;
}

h1 {
    color: white;
    font-family: 'Londrina Sketch';
    font-size: 15rem;
    text-align: center; 
}

h2 {
    color: white;
    font-family: 'Afacad Flux';
    font-size: 5rem;
    text-align: center;
    animation-duration: 3s;
    animation-name: slide;
}

@keyframes slide {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

h3 {
    color: white;
    font-family: 'Afacad Flux';
    font-size: 2rem;
}
span.art1 {
    color: gray;
    position: absolute;
    top: 28%;
    right: 55%;
    animation: customAni 5s ease 0s infinite normal none;
}

@keyframes customAni {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }
  
    10% {
      transform: rotate(8deg);
    }
  
    20%,
    40%,
    60% {
      transform: rotate(-10deg);
    }
  
    30%,
    50%,
    70% {
      transform: rotate(10deg);
    }
  
    80% {
      transform: rotate(-8deg);
    }
  
    90% {
      transform: rotate(8deg);
    }
  }
span.art2 {
    color: grey;
    position: absolute;
    top: 70%;
    left: 70%;
}

#propositions {
    padding: 2rem;
    background-color: rgb(99, 97, 97);
    background-image: url(media/debian-brands-solid.svg);
}

.propositions-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}    

.propositions-card {
        flex-basis: calc(33.333% - 2rem);
        margin: 1rem;
        padding: 1rem;
        background-color: grey;
        border-radius: 5px;
        animation-duration: 10s;
        animation-name: bg;
}

@keyframes bg {
    0% {
      background: #333;
    }
    50% {
      background: #fff;
    }
    100% {
      background: #333;
    }
}

#services {
    color:white;
    background-color: black;
    padding: 2rem;
}

.service-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
}

.service-card {
    padding: 5rem;
    background-color: grey;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
}

.logo img {
  height: 80px;
  width: 80px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

img:hover {
    opacity: 1;
}

.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9rem;

}

.logo2 img {
    height: 200px;
    width: 200px;
    /* animation-duration: 30s;
    animation-name: rotation; */
    animation: rotation 3s ease-in-out 2s infinite;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


label, input { 
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

#button:hover {
    background-color: black;
}


.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact-container {
    background-color: gray;
    margin: 10rem;
    padding: 5rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

